* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #e8243c;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.search-icon {
    width: 12px;
}

.navbar{
    display: flex;
    align-items: flex-end;
}

.opcao{
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #000; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}